<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Javier Polanco Marcos">

    <title>Bootstrap Designer</title>

    <!-- Bootstrap core CSS -->
    <link href='/stylesheets/bootstrap.min.css' rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel='stylesheet' href='/stylesheets/fontawesome.css'>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/welcolme/creative.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Plugin CSS -->
    <link rel='stylesheet' href='/stylesheets/welcolme/magnific-popup.css' >

    <!-- Custom styles for this template -->
    <link href='/stylesheets/welcolme/creative.min.css' rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<div id="nav">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bootstrap Designer</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Start"></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</div>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="message-container">
                    <h1 style="color: #fff3cd; background-color: #0b0b0b; opacity: 0.8; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;">&#60;code&#62; Design <span class="message" id="message"> </span>&#60;/code&#62;</h1>
                </div>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Using Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your own configurations and start going, no waste of time!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use!</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-newspaper text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Up to Date</h3>
                    <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
                    <p class="text-muted mb-0">Now in Bootstrap 4!.</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Made with Love</h3>
                    <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Design your own Bootstrap</h2>
        <a class="btn btn-light btn-xl sr-button" href="login">Start now!</a>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="col-lg-8 mx-auto text-center">
            <form class="mbr-form" action="" method="post" data-form-title="Contact" _lpchecked="1"><input type="hidden" data-form-email="true">
                <div class="row row-sm-offset">
                    <div class="col-md-4 multi-horizontal" data-for="name">
                        <div class="form-group">
                            <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Name</label>
                            <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                        </div>
                    </div>
                    <div class="col-md-4 multi-horizontal" data-for="email">
                        <div class="form-group">
                            <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                            <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                        </div>
                    </div>
                    <div class="col-md-4 multi-horizontal" data-for="phone">
                        <div class="form-group">
                            <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Phone</label>
                            <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                        </div>
                    </div>
                </div>
                <div class="form-group" data-for="message">
                    <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Message</label>
                    <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                </div>

                <span class="col-lg-8 mx-auto">
                    <a href="" type="submit" class="btn btn-light btn-xl sr-button">SEND FORM</a>
                </span>
            </form>
        </div>
    </div>
</section>

{#<!-- Bootstrap core JavaScript -->#}
<script src='/javascripts/jquery.magnific-popup.js'></script>
<script src='/javascripts/bootstrap.bundle.js'></script>

{#<!-- Plugin JavaScript -->#}
<script src='/javascripts/jquery.easing.js'></script>
<script src='/javascripts/jquery.magnific-popup.js'></script>

{#<!-- Custom scripts for this template -->#}
<script src='/javascripts/welcolme/creative.js'></script>
<script src='/javascripts/welcolme/scrollreveal.js'></script>

</body>

</html>

<script>
    (function (w, d) {
        var message = document.getElementById('message');
        // var message = message.parentNode;
        var index = 0;
        var interval = null;
        var messages = ['your colors ', 'your life ', 'Bootstrap ']; // Cada posición del array es un mensaje
        var countMessage = messages.length - 1;
        var sleepTimeout = 2500;
        var sleepInterval = 150;

        function update(func) {
            message.classList.toggle('animate-cursor');
            setTimeout(function () {
                message.classList.toggle('animate-cursor');
                interval = setInterval(func, sleepInterval);
            }, sleepTimeout);
        }

        function clear() {
            var count = message.innerHTML.length;
            if (count === 0) {
                clearInterval(interval);
                message.innerHTML = '';
                index = (index >= countMessage) ? 0 : index + 1;
                update(write);
            } else {
                message.innerHTML = message.innerHTML.toString().substr(0, count - 1);
            }
        }

        function write() {
            var count = message.innerHTML.length;
            var countCharacter = messages[index].length - 1;
            message.innerHTML += messages[index][(count > 0) ? count : 0];

            if (countCharacter === count) {
                clearInterval(interval);
                update(clear);
            }
        }

        update(write);
    })(window, document);

</script>